.letra {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.letra-svg {
  font-weight: bold;
  max-width: 70vh;
  height: auto;
}

.letra-text {
  font-weight: bold;
  transition: font-size 0.3s ease; /* transición suave al cambiar tamaño */
}

/* Ajuste responsive extra */
@media (max-width: 600px) {
  .letra-svg {
    max-width: 90vw;
  }
}
